// border radii
$border-radius-circle: 50%;

// colors
$color-arrow: #03a9f4;
$color-article: #4fc3f7;
$color-body: #fafafa;
$color-border: #b3e5fc;
$color-text: rgba(#000, .87);

// fonts families
$font-family-default: 'Roboto', sans-serif;

//transitions
$transition-duration-sm: .12s;
$transition-duration-md: .24s;
$transition-duration-lg: .48s;
